@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}
body,button,ul,li,div,button,a{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    list-style:none;

}
body {
    background-image: url(https://i.ibb.co/RbhCKrK/image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    align-items: center;
}
.logo {
    width: 14%;
    margin-top: 6vh;
}
h1 {      
    color: white;
    margin: 0px;
    font-size: 55px;
    margin-top: 6vh;
}
h2 {      
    color: black;
    margin-top: 4%;
    font-size: 30px;
    text-align: center;
}
h3 {      
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
li{
    display: flex;
    margin: 5vh 0px 2vh 0px;
    align-items: center;
}
button,a {
    font-weight: 500;
    color: white;
    padding: 1.3vh 1.5vh;
    border-style: none;
    background-color: #22222265;
    font-size: 1.9vh;
    text-decoration: none;
    margin: 0.5px;
}
button:hover,a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.482);
} 
.link1 {
    border-radius: 0px 1vh 1vh 0px;
}
.link1:visited {
    text-decoration: underline;
}
.btn-home {

    border-radius: 1vh 0px 0px 1vh;
}
.div-home,.div-guide,.div-about,.div-imgs {
    border-radius: 5vh;
    width: 80%;
    display: initial;
    background: #ffffff;
    padding: 0px 26px;
    margin-top: 1vh;
}

p {
    font-size: 3vh;
    color: black;
    text-align: justify;
    padding: 0 3vh;
}
.div-card {
    display: flex;
    padding: 0 10%;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 3vh;
}
.div-card > img {
    border-radius: 100%;
    width: 18%;
}
.div-card >div > p {
    font-size:2.5vh;
} 
.div-card > div > h3 {
    padding-left: 2vh;
    margin: 0px;
    font-size: 3vh;
    color: black;
}  
.div-container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-container-img > p {
   font-size: 2vh;
}
.div-container-img > img {
   width: 70%;
}
